<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controladores.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>controladores.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaUsuarios</servlet-name>
        <servlet-class>controlador.admin.ListaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>controlador.admin.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaLibros</servlet-name>
        <servlet-class>controlador.admin.ListaLibros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarLibro</servlet-name>
        <servlet-class>controlador.admin.ActualizarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarLibro</servlet-name>
        <servlet-class>controlador.admin.EliminarLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearLibro</servlet-name>
        <servlet-class>controlador.admin.CrearLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListadoAutor</servlet-name>
        <servlet-class>controlador.admin.ListadoAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearAutor</servlet-name>
        <servlet-class>controlador.admin.CrearAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarAutor</servlet-name>
        <servlet-class>controlador.admin.ActualizarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarAutor</servlet-name>
        <servlet-class>controlador.admin.EliminarAutor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaGeneros</servlet-name>
        <servlet-class>controlador.admin.ListaGeneros</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrearGenero</servlet-name>
        <servlet-class>controlador.admin.CrearGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizarGenero</servlet-name>
        <servlet-class>controlador.admin.ActualizarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controladores.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPrestamos</servlet-name>
        <servlet-class>controlador.empleado.ListaPrestamos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarGenero</servlet-name>
        <servlet-class>controlador.admin.EliminarGenero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelUsuario</servlet-name>
        <servlet-class>controlador.usuario.PanelUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaUsuarios</servlet-name>
        <url-pattern>/ListaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActualizarUsuario</servlet-name>
        <servlet-class>controlador.admin.ActualizarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActualizarUsuario</servlet-name>
        <url-pattern>/ActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CrearUsuario</servlet-name>
        <servlet-class>controlador.admin.CrearUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CrearUsuario</servlet-name>
        <url-pattern>/CrearUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaLibros</servlet-name>
        <url-pattern>/ListaLibros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarLibro</servlet-name>
        <url-pattern>/ActualizarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarLibro</servlet-name>
        <url-pattern>/EliminarLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearLibro</servlet-name>
        <url-pattern>/CrearLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListadoAutor</servlet-name>
        <url-pattern>/ListadoAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearAutor</servlet-name>
        <url-pattern>/CrearAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarAutor</servlet-name>
        <url-pattern>/ActualizarAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarAutor</servlet-name>
        <url-pattern>/EliminarAutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaGeneros</servlet-name>
        <url-pattern>/ListaGeneros</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrearGenero</servlet-name>
        <url-pattern>/CrearGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizarGenero</servlet-name>
        <url-pattern>/ActualizarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPrestamos</servlet-name>
        <url-pattern>/ListaPrestamos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarGenero</servlet-name>
        <url-pattern>/EliminarGenero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelUsuario</servlet-name>
        <url-pattern>/PanelUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MenuPrincipal</welcome-file>
    </welcome-file-list>
</web-app>
